* {
	box-sizing: border-box;
}

:root {
	--react-blue: rgb(96, 218, 251);
	--react-grey: rgb(40, 44, 52);
	--text-colour: rgb(0, 0, 0);
}

#main-doc {
	display: grid;
	grid-template-areas: "sidebar main";
	grid-template-columns: 15% 85%;
	height: 100vh;
}

#navbar {
	grid-area: sidebar;
	/* border: 2px solid red; */
	padding-left: 5px;
	display: flex;
	flex-direction: column;
}

.nav-link {
	text-decoration: none;
}

.main-header {
	display: block;
	align-self: left;
	font-size: 50px;
}

.version_number {
	padding-top: 0px;
	margin: 0px;
}

.header_info {
	text-align: left;
}

ul {
	text-align: left;
	padding: 0px;
}

a:link {
	color: black;
}

a:visited {
	color: var(--react-blue);
}

.nav-link {
	display: block;
	padding-top: 10px;
}

#sections-main {
	grid-area: main;
	/* border: 2px solid black; */
	padding: 12px 0px 0px 15px;
}

section {
	line-height: 10px;
}

section > header {
	font-size: 2.2rem;
	padding: 40px 0px 5px 0px;
}

code {
	line-height: 20px;
}

#jsx {
	padding-top: 10px;
}

li {
	line-height: 20px;
	list-style: square;
}
