* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
}

:root {
	--react-blue: rgb(96, 218, 251);
	--react-grey: rgb(40, 44, 52);
	--text-colour: rgb(0, 0, 0);
}

#main-doc {
	display: grid;
	grid-template-areas: "sidebar main";
	grid-template-columns: 15% 85%;
}

#navbar {
	grid-area: sidebar;
	padding-left: 5px;
	display: flex;
	flex-direction: column;
	background-color: var(--react-grey);
}

.nav-link {
	text-decoration: none;
	color: white;
	opacity: 0.8;
}

.main-header {
	display: block;
	align-self: left;
	font-size: 50px;
	color: var(--react-blue);
}

.version_number {
	padding-top: 0px;
	margin: 0px;
	color: var(--react-blue);
	opacity: 0.4;
}

.header_info {
	text-align: left;
	color: white;
	opacity: 0.8;
}

ul {
	text-align: left;
	padding: 0px;
}

.nav-link {
	display: block;
	padding-top: 10px;
}

.nav-link:focus {
	color: white;
	opacity: 0.3;
}

.nav-link:hover {
	color: var(--react-blue);
}

#sections-main {
	grid-area: main;
	padding: 12px 0px 0px 15px;
}

section {
	line-height: 10px;
}

section > header {
	font-size: 2.2rem;
	padding: 40px 0px 5px 0px;
}

code {
	line-height: 20px;
}

#jsx {
	padding-top: 10px;
}

li {
	line-height: 20px;
	list-style: square;
}

/* Start of the Media Queries */

@media screen and (max-width: 1027px) {
	section {
		line-height: 15px;
	}
}

@media screen and (max-width: 818px) {
	#main-doc {
		display: grid;
		grid-template-areas:
			"header"
			"main";
		grid-template-columns: 100%;
		grid-template-rows: 15% 85%;
	}

	#navbar {
		grid-area: header;
		grid-row: 1/1;
		padding-left: 5px;
		display: flex;
		flex-direction: row;
		background-color: var(--react-grey);
	}

	.version_number {
		position: relative;
		top: 50px;
		left: -114px;
	}

	.header_info {
		width: 20vw;
		height: 10vh;
		margin: 0;
		position: relative;
		top: 65px;
		left: -162px;
	}

	.nav-link {
		display: inline;
		padding: 0 5px;
	}

	ul {
		width: 100%;
	}

	#sections-main {
		grid-area: main;
		padding: 12px 0px 0px 15px;
	}
}
